<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.AnywareSoftware.StudentManagementSystem.controllers"/>
    <context:component-scan base-package="com.AnywareSoftware.StudentManagementSystem.services"/>
    <context:component-scan base-package="com.AnywareSoftware.StudentManagementSystem.daos"/>
    <context:component-scan base-package="com.AnywareSoftware.StudentManagementSystem.entities"/>

    <!-- Data Source Configuration -->
    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/assignment_submission_db"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <!-- Hibernate Session Factory Configuration -->
    <bean id="factory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.AnywareSoftware.StudentManagementSystem.entities.Course</value>
                <value>com.AnywareSoftware.StudentManagementSystem.entities.Quiz</value>
                <value>com.AnywareSoftware.StudentManagementSystem.entities.Student</value>
                <value>com.AnywareSoftware.StudentManagementSystem.entities.Teacher</value>
            </list>
        </property>
    </bean>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="factory"/>
    </bean>

    <!-- Enable annotation-driven transaction management -->
    <tx:annotation-driven/>

    <!-- MVC Configuration -->
    <mvc:annotation-driven/>
    <mvc:resources location="classpath:/META-INF/resources/" mapping="swagger-ui.html"/>
    <mvc:resources location="classpath:/META-INF/resources/webjars/" mapping="/webjars/**"/>

    <!-- View Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>
